
/* =Flash messages */
.flash {
    float: none;
    width: 540px;
    margin: 0 auto;
    border: 1px solid #DDD;
    border-radius: 8px;
    background: #FAFADF;
}

.flash ul{
    margin: 0;
    padding: 8px 40px;
}

.flash ul li {
    
}

.flash .error{
    color: #da3e5a;
}

.flash .info{
    color: orange;
}

.flash .success{
    color: #18a011;
}

/* =Gallery.main */
.gallery-item {
    text-align: center;
    margin: 10px 0 10px -10px;
    padding:0px 10px;
}
.gallery-item img{
    border-radius: 3px;
    background: #FBFBF2;
    padding:5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}


/* Menu in sidebar(gallery) */
.row-menu {
    height: 0;
    display: none;
    position: absolute;
    margin-top: 3px;
}

.row-menu .btn-group{
    display: block;
    position: relative;
    width: 101%;
    float: right;
    padding-right: 7px;
    margin-right: 100%;
}

.row-menu .btn-group .btn{
    padding-left: 5px;
    padding-right: 5px;
}

.list-toc li:hover .row-menu{
    display: block;
}



/* =Article */
.article {
    position: relative;
    margin-bottom: 50px;
    color: #111;
}

.article .content{
    width: 99%;
    margin: 0 auto;
}

.article .title{
    text-align: center;
    border-bottom: 2px #E5E5E5 dotted;
    margin-bottom: 22px;
}

.article .title a {
    text-decoration: none;
}

.article .meta {
    margin-top: -20px;
}

.article .meta span {
    color: #AAA;
    padding: 0 4px;
}


/* =Markdown pagedown */
#wmd-button-bar  {
    width: 100%;
    margin: 20px 0 10px 0;
}

.wmd-button-row 
{
    position: relative; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;  
    height: 20px;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/static/images/wmd-buttons-2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-prompt-dialog
{
    border-radius: 4px;
    border: 1px solid #AAA;
    background-color: #F5F5D5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 14px;
    
    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

#wmd-input{
    height:320px;
    width: 97%;
    resize: vertical;
    padding: 10px;
    font-size: 14px;
    line-height: 1.2em;
}

#wmd-preview {
    clear: both;
    padding: 3px;
    border: 2px dotted #CCC;
    font-size: 107%;
    line-height: 130%;
    margin-top: 32px;
    width: 99%;
    display: none;
}
