
/* =Flash messages */
.flash {
    float: none;
    width: 540px;
    margin: 0 auto;
    border: 1px solid #DDD;
    border-radius: 8px;
    background: #FAFADF;
}

.flash ul{
    margin: 0;
    padding: 8px 40px;
}

.flash ul li {
    
}

.flash .error{
    color: #da3e5a;
}

.flash .info{
    color: orange;
}

.flash .success{
    color: #18a011;
}

/* =Pagination */
.pagination ul{
    border: 1px solid #CCC;
    /*border-bottom: 1px solid #CCC;*/
    border-radius: 5px;
    padding: 3px 8px;
    float: right;
}

.pagination ul li{
    list-style: none;
    float: left;
    margin: 0 8px;
}
.pagination ul li a{
    text-decoration: none;
}
.pagination ul li a:hover{
    text-decoration: underline;
}

.pagination ul li span{
    color: #AAA;
}


/* =Gallery.main */
#gallery {
    text-align: center;
}
#gallery a {
    display: inline;
    text-decoration: none;
    margin: auto 15px;
}
.list-toc a.btn:hover {
    text-decoration: none;
}
#gallery li{
    padding: 25px 0 15px 0;
}
.bordered-img {
    border-radius: 3px;
    background: #FBFBF2;
    padding:5px;
    margin-left: -5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}



/* =VPS */
#output pre{
    background: #3A3A3A;
    color: #DDD;
    margin-bottom: 12px;
    padding: 6px 10px;
    min-height: 480px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

#command form{
    margin-bottom: 8px;
}

#command input{
    width: 99%;
}



/* Menu in sidebar(gallery) */
.row-menu {
    height: 0;
    display: none;
    position: absolute;
    margin-top: 3px;
}

.row-menu .btn-group{
    display: block;
    position: relative;
    width: 101%;
    float: right;
    padding-right: 7px;
    margin-right: 100%;
}

.row-menu .btn-group .btn{
    padding-left: 5px;
    padding-right: 5px;
}

.list-toc li:hover .row-menu{
    display: block;
}



/* =Article */
.article {
    position: relative;
    color: #111;
    padding: 20px 10px ;
    margin-bottom: 30px;
/* border: 1px solid #DDD; */
/* border-radius: 6px; */
/* box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px; */
/* background-color: #F8F4E7;/\*#FEFEE3; #FDFDDA; *\/ */
}
.articles .article{
    border-bottom: 1px solid #DDD;
    margin-bottom: 75px;
}
.articles hr {
    border-top: 1px dotted #DEDEDE;
}

#single.article {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.article p{
    line-height: 1.6em;
}

.article .content{
    margin: 0 auto;
}

.article .title{
    text-align: center;
    /* border-bottom: 2px #E5E5E5 dotted; */
    margin-bottom: 22px;
}
.article .title h1, .article .title h2{
    margin-bottom: 20px;
}
.article .title h2 span{
    color: #BBB;
    font-weight: normal;
    margin-left: 12px;
}
.article .title a {
    text-decoration: none;
}

.article .meta {
    margin-top: -20px;
}

.article .meta span {
    color: #AAA;
    padding: 0 4px;
}

.article .meta a{
    padding: 0 6px;
    border-right: 2px dotted #E5E5E5;
}

.article figure{
    text-align: center;
}
.article blockquote, .article figcaption {
    font-family: "Microsoft Yahei";
    font-size: 90%;
}
/* =Markdown pagedown */
#wmd-button-bar  {
    width: 100%;
    margin: 20px 0 10px 0;
}

.wmd-button-row 
{
    position: relative; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;  
    height: 20px;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/static/images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-prompt-dialog
{
    border-radius: 4px;
    border: 1px solid #AAA;
    background-color: #F5F5D5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 14px;
    
    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

#wmd-input{
    height: 330px;
    width: 97%;
    resize: vertical;
    padding: 12px;
    font-size: 14px;
    line-height: 1.6em;
    background-color: #F8F4E7; /*FDFDDA;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px !important;
}

#wmd-input:focus{
    border-color: #DB9 !important;
    border-radius: 3px;
}

#wmd-preview {
    clear: both;
    padding: 3px;
    border: 2px dotted #CCC;
    font-size: 107%;
    line-height: 130%;
    margin-top: 32px;
    width: 99%;
    display: none;
}
