<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Way{% endblock %}</title>

    <!-- Meta info -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/kube/kube.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/kube/screen.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/extra.css" />
    {% block css_extra %}{% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>	
    {% block js_extra %}{% endblock %}
    
    
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  </head>
  <body class="kubepage" screen_capture_injected="true">
    
    <!-- 1. Header -->
    <div class="wrapper">
      <header id="header">
        <h2><span>M-x </span> <a href="/blog/">WEET</a></h2>
        {% block nav %}
          <ul>
            {% for nav in g.navbar %}
              {{ nav.render(navid) }}
            {% endfor %}
          </ul>
        {% endblock nav %}
      </header>
    </div> <!-- end.header -->

    <!-- 2. Main -->
    <div id="box-inside-white">
      {% block flash %}
        {% from "macros/common.html" import render_flash %}
        {{ render_flash() }}
      {% endblock flash %}
      
      <div class="wrapper">
	<div class="row">
          {% block main %}

            <!-- 2.1 Content -->
	    <div class="threequarter">
              {% block three %}
                {% block content %}{% endblock %}
              {% endblock three %}
	    </div>
            
            <!-- 2.2 Sidebar -->
	    <div class="quarter">
              {% block one %}
                {% block sidebar %}{% endblock %}
	      {% endblock one %}
	    </div>
            
          {% endblock main %}
	</div>
      </div>
    </div> <!-- end.main -->

    {% block hidden_html %}{% endblock hidden_html %}

    <!-- 3. Footer -->
    <div class="wrapper">
      <footer id="footer">
	<ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="last"><a href="http://www.douban.com/people/buzhoukuangtu/">Follow me on 豆瓣</a></li>
        </ul>	
	<p>© weet 1989-2012</p>
      </footer>
    </div> <!-- end.footer -->
  </body>
</html>
