{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="/static/js/markdown/Markdown.Converter.js"></script>
<script type="text/javascript" src="/static/js/markdown/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/static/js/markdown/Markdown.Editor.js"></script>
<script type="text/javascript">
  $(function(){
    var converter1 = Markdown.getSanitizingConverter();
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
  });
</script>
{% endblock js_extra %}

{% block main %}
<form method="POST" id="" class="forms" action="{{ action }}">
  {% from "macros/form.html" import render_field %}
  {{ form.hidden_tag() }}
  <div class="row">
    <div id="article-edit" class="threequarter" >
      <h4 style="display:none;">{{ form.title.data }}</h4>
        <ul>
          {{ render_field(form.title, style="width: 61.8%;") }}
          <div id="wmd-panel">
            <div id="wmd-button-bar"></div>
            {{ render_field(form.md_content, class="wmd-input", id="wmd-input", style="" ) }}
          </div>
          <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        </ul>
    </div>
    
    <div id="article-options" class="quarter">
      <fieldset>
        <legend>Options</legend>
        <ul>
          {{ render_field(form.category) }}
          {{ render_field(form.status) }}
          {{ render_field(form.visibility) }}
          <hr />
          <li>
            {% if view_link %}
            <a class="btn" target="_blank" href="{{ view_link }}">View</a>
            {% endif %}
            <input type="submit" class="btn" value="Submit" />
          </li>
        </ul>
      </fieldset>
    </div>
    
  </div>
</form>
{% endblock %}
