{% extends "layout.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block css_extra %}
  <link type="text/css" href="/static/css/simplemodal/basic.css" rel="stylesheet" media="screen">
  <link type="text/css" href="/static/css/pygments_monokai.css" rel="stylesheet" media="screen">
{% endblock css_extra %}


{% block nav %}{% endblock nav %}  

{% block js_extra %}
  <script type="text/javascript" src="/static/js/simplemodal/jquery.simplemodal.js"></script>
  <script type="text/javascript" src="/static/js/simplemodal/basic.js"></script>
  <script type="text/javascript">
  $(function(){
    $('.article .meta .btn-delete').each(function(index){
      var target = $(this).attr('href');
      var title = $('.article .title h1 :eq(' + index + ')').text().trim();
      $(this).click(function(){
        $dialog = $('#delete-dialog-modal');
        $dialog.find('.btn').attr('href', target);
        $dialog.find('.title').text(title);
        $dialog.modal();
        return false;
      });
    });
   });
  </script>
{% endblock js_extra %}
  
{% block main %}
<div class="row">
  <div class="threequarter centered" >
    <div id="single" class="article">
      <div class="title">
        <h1>{{ article.title }}</h1>
        <div class="meta push-right">
          {% if not current_user.is_anonymous() %}
          <a href="{{ url_for('blog.edit', id=article.id) }}">Edit</a>
          <a href="{{ url_for('blog.delete', id=article.id) }}" class="btn-delete">Delete</a>
          {% endif %}
          <span>{{ article.create_at.strftime('%Y-%m-%d %H:%M')}}</span>
        </div>
      </div>
      <div class="content">{{ article.content | safe }}</div>
    </div>
  </div>
</div>
{% endblock %}

{% block hidden_html %}
  <div id="delete-dialog-modal" style="display:none;">
    <p><span class="opt">Delete<span> (<span class="title"></span>) ?</p>
    <div id="simplemodal-footer">
      <a class="btn bold" href="#">Delete</a>
    </div>
  </div>
{% endblock hidden_html %}  
