

{% macro render_image(img, group_tag='', class='') %}
<a href="{{ img.link }}" id="image_{{ img.id }}"
   rel="lightbox{{ group_tag }}"  title="{{ img.title }}">
  {% if img.thumb %}
  <div class="{{ class }}">
    <img align="middle" src="{{ img.thumb.link }}">
  </div>
  {% else %}
  {{ img.title }}
  {% endif %}
</a>
{% endmacro %}


{% macro render_images(imgs, group_tag='[myimages]')%}
{% for img in imgs %}
<li>
  {{ render_image(img, group_tag=group_tag, class="gallery-item") }}
</li>
{% endfor %}
{% endmacro %}
