
{% macro render_image(img, group_tag='', class='', type='small') %}
<a href="{{ img.link }}" id="image_{{ img.id }}"
   rel="lightbox{{ group_tag }}" class="{{ class }}" title="{{ img.title }}">
  {% if type=="small" %}
    <img align="middle" class="bordered-img" src="{{ img.thumb.link }}">
  {% else %}
    <img align="middle" class="bordered-img" src="{{ img.link }}">
  {% endif %}
</a>
{% endmacro %}


{% macro render_images(imgs, group_tag='[myimages]')%}
{% for img in imgs %}
{% if loop.index is odd %}<li>{% endif %}
  {{ render_image(img, group_tag=group_tag,) }}
{% if loop.index is even or loop.index == loop.last %}</li>{% endif %}
{% endfor %}
{% endmacro %}
