{% extends "layout.html" %}

{% block title %}Gallery{% endblock %}

{% block css_extra %}
  <!-- Lightbox2 -->
  <link rel="stylesheet" href="/static/css/lightbox2/lightbox.css" type="text/css" media="screen" />
  <link type="text/css" href="/static/css/simplemodal/basic.css" rel="stylesheet" media="screen">
{% endblock %}

{% block js_extra %}
  <!-- Lightbox2 -->
  <script src="/static/js/lightbox2/lightbox.js"></script>
  <script type="text/javascript" src="/static/js/simplemodal/jquery.simplemodal.js"></script>
  <script type="text/javascript" src="/static/js/simplemodal/basic.js"></script>
  <script type="text/javascript">

  $(function(){
    $('.list-toc li .btn-delete').each(function(index){
      var target = $(this).attr('href');
      var title = $('#gallery-mgr .list-toc li>a:eq(' + index + ')').text().trim();
      $(this).click(function(){
        $dialog = $('#delete-dialog-modal');
        $dialog.find('.btn').attr('href', target);
        $dialog.find('.title').text(title);
        $dialog.modal();
        return false;
      });
    });
  
    $('.list-toc li .btn-edit').each(function(index){
      var target = $(this).attr('href');
      var title = $('#gallery-mgr .list-toc li>a:eq(' + index + ')').text().trim();
      $(this).click(function(){
        $dialog = $('#edit-dialog-modal');
        $dialog.find('form').attr('action', target);
        $dialog.find(':input[name="title"]').val(title);
        $dialog.modal();
        return false;
      });
    });
  });
  </script>
{% endblock %}

{% block main %}
  <div class="quarter">

    <div class="search">
      <form method="GET" id="" action="/gallery/">
        <ul class="list-toc">
          <li>
            <input type="text" name="key" class="input-search"
                   placeholder="Source name or Title" value="{{ key }}">
          </li>
        </ul>
      </form>
    </div>

    {% if not current_user.is_anonymous() %}
    <div class="sidebar-menu">
      <ul class="list-toc">
        <li><a href="/gallery/">Gallery</a></li>
        <li><a href="/gallery/upload">Upload</a></li>
      </ul>
    </div>
    {% endif %}

    {% if images %}
    <div id="gallery-mgr">
      <ul class="list-toc">
        <li><span>{% if key %}Search Results{% else %}Recent Uploads{% endif %}</span></li>
        {% for img in images %}
	<li>
          {% if not current_user.is_anonymous() %}
          <div class="row-menu">
            <div class="btn-group" >
              <a href="{{ url_for('gallery.delete', id=img.id) }}" class="btn btn-delete">Delete</a>
              <a href="{{ url_for('gallery.edit', id=img.id) }}" class="btn btn-edit">Edit</a>
            </div>
          </div>
          {% endif %}
          <a href="{{ url_for('gallery.view', id=img.id) }}">{{ img.title }}</a>
	</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="threequarter">
    <div id="gallery" >
      <ul class="list-toc">
        {% from "macros/gallery.html" import render_images %}
        {{ render_images(images) }}
      </ul>
    </div>
  </div>
{% endblock main %}


  
{% block hidden_html %}
  <div id="delete-dialog-modal" style="display:none;">
    <p><span class="opt">Delete<span> (<span class="title"></span>) ?</p>
    <div id="simplemodal-footer">
      <a class="btn bold" href="#">Delete</a>
    </div>
  </div>
  <div id="edit-dialog-modal" style="display:none;">
    <form method="GET" action="#" class="forms ">
      <div class="modal-body">
        <ul>
          <li><input type="text" name="title" value="" class="width-100" /></li>
        </ul>
      </div>
      <div id="simplemodal-footer"><input type="submit" value="Change" class="btn bold " /> </div>
    </form>
  </div>
{% endblock hidden_html %}
