{% extends "layout.html" %}

{% block title %}Upload Image{% endblock %}

{% block main %}
  <div class="row">
  <div class="threequarter centered">
    <form method="POST" action="/gallery/upload" enctype=multipart/form-data class="forms columnar">
      {% from "macros/form.html" import render_field %}
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Image upload</legend>
        <ul>
          {{ render_field(form.image) }}
          {{ render_field(form.tag) }}
          {{ render_field(form.is_public) }}
          {{ render_field(form.title, style="height:80px;width:360px;") }}
          <li>
            <label></label>
            <input type="submit" class="btn" value="Upload" />
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  </div>
{% endblock %}
