{% extends "layout.html" %}

{% block title %}Upload Image{% endblock %}

{% block nav_sub %}
<ul>
  <li><a href="/gallery/">List</a></li>
  <li><a href="/gallery/upload">Upload</a></li>
</ul>
{% endblock %}


{% block sidebar %}
  {% from "macros/gallery.html" import render_flash %}
<div class="">
  {{ render_flash() }}
</div>
{% endblock %}

{% block content %}
  <div class="">
    <form method="POST" action="/gallery/upload" enctype=multipart/form-data class="forms columnar">
      {% from "macros/form.html" import render_field %}
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Image upload</legend>
        <ul>
          {{ render_field(form.image) }}
          {{ render_field(form.tag) }}
          {{ render_field(form.title, style="height:80px;width:360px;") }}
          <li>
            <input type="submit" class="btn" value="Upload" />
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
{% endblock %}
