{% extends "layout.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block css_extra %}
<!-- Lightbox2 -->
<link rel="stylesheet" href="/static/css/lightbox2/lightbox.css" type="text/css" media="screen" />
{% endblock %}

{% block js_extra %}
<!-- Lightbox2 -->
<!-- <script src="/static/js/lightbox2/lightbox.js"></script> -->
<script type="text/javascript">
 $(document).ready(function(){
     // $('.gallery-item img').click();
 });
</script>
{% endblock %}

{% block main %}
  <div class="five" style="text-align:center;">
    {% from "macros/gallery.html" import render_image %}
    {{ render_image(image, type="big") }}
  </div>
{% endblock %}
