{% extends 'layout.html' %}

{% block title %}Topology{% endblock title %}

{% block css_extra %}
  <link type="text/css" rel="stylesheet" href="/static/js/topo/topo.css"/>
  <link type="text/css" rel="stylesheet" href="/static/js/topo/jquery.contextMenu.css"/>
{% endblock css_extra %}  

{% block js_extra %}
  <script type="text/javascript" src="/static/js/topo/d3.v2.js"></script>
  <script type="text/javascript" src="/static/js/topo/bootstrap.js"></script>
  <script type="text/javascript" src="/static/js/topo/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/topo/jquery.ui.position.js"></script>
  <script type="text/javascript" src="/static/js/topo/jquery.contextMenu.js"></script>
  <script type="text/javascript" src="/static/js/topo/tree-common.js"></script>
  <script type="text/javascript" src="/static/js/topo/tree-circle.js"></script>
  <script type="text/javascript" src="/static/js/topo/tree-flow.js"></script>
  <script type="text/javascript" src="/static/js/topo/tree-interactive.js"></script>
  <script type="text/javascript" src="/static/js/topo/tree-directory.js"></script>
  <script type="text/javascript" src="/static/js/topo/force.js"></script>
  <script type="text/javascript" src="/static/js/topo/topo.js"></script>
{% endblock js_extra %}
  
{% block main %}
  <div class="content">
    <div class="quarter">
      <div id="sidebar">
        <div id="tree">
        </div>
      </div>
    </div>

    <div class="threequarter">
      <div id="panel">
        <div id="toolbar">
          <div id="layout", class="toolbar-item">
            <select class="auto-width input-low">
              <option value="circle">环型</option>
              <option value="interactive">树型(可折叠)</option>
              <option value="flow">树型</option>
              <option value="force">散射</option>
            </select>
          </div>
          <div id="zoom" class="btn-group toolbar-item">
            <button type="button" id="zoom-out" class="btn "><strong>-</strong></button>
            <button type="button" id="zoom-in" class="btn "><strong>+</strong></button>
            <button type="button" id="zoom-reset" class="btn ">1:1</button>
          </div>
          <form method="GET" class="form toolbar-item">
            <div class="btn-group">
              <input type="hidden" id="lastid" name="lastid" value="" />
              <input class="input-low" data-provide="typeahead" id="keyword" name="keyword" placeholder="节点名称" type="text">
                <button type="submit" data-placement="bottom" rel="tooltip"
	                class="btn btn-round" data-original-title="搜索">搜索</button>
            </div>
          </form>
          <br class="clear" />
        </div>
        <div id="tichart" class="chart tree-chart"></div>
        <div id="tfchart" class="chart tree-chart"></div>
        <div id="fcchart" class="chart"></div>
        <div id="chart" class="chart"></div>
      </div>
    </div>
  </div>
{% endblock main %}

